#newTask {
    margin-top: 20px;
  }
  /* CSS for TodoList component */
#taskList .btn-danger {
  margin-left: 10px;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}

#taskList .btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.completed {
  text-decoration: line-through;
  color: #888;
}